tests/mule/analyzer-tests/src/main/mule/tickets-apikit-os.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <http:listener-config name="tickets-api-spec-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="tickets-api-spec-config" api="tickets-api-spec.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <os:object-store name="Tickets_Store" doc:name="Object store" doc:id="cc5d9660-4b58-4d36-80f4-84daf1ef3f44" maxEntries="1" />
	<flow name="tickets-api-spec-main">
        <http:listener config-ref="tickets-api-spec-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="tickets-api-spec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\tickets:tickets-api-spec-config">
        <logger level="INFO" message="START GET /tickets" doc:name="START GET /tickets"/>
		<os:retrieve doc:name="Retrieve" doc:id="d256cd91-2d64-49a8-800b-928001c7adc2" objectStore="Tickets_Store" key='ticketNumber' target="ticketNumber">
			<os:default-value ><![CDATA[1]]></os:default-value>
		</os:retrieve>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  status: "success",&#10;  ticketNumber: vars.ticketNumber as Number&#10;}]' doc:name="Set Payload" doc:id="4e440886-4839-4bdf-9d9b-3bcb3ef7c6e9" />
		<logger level="INFO" doc:name="END GET /tickets" doc:id="4283e294-cfd9-4517-951a-ac0e5f7c2978" message="END GET /tickets" />
    </flow>
    <flow name="post:\tickets:application\json:tickets-api-spec-config">
        <logger level="INFO" message="START POST /tickets" doc:name="START POST /tickets"/>
		<logger level="INFO" doc:name="POST Payload" doc:id="f37afbc5-dce3-41a4-a2cc-4f5f1a2cd3b8" message="POST Payload: #[payload]" />
		<os:retrieve doc:name="Retrieve Current Ticket" doc:id="1da468d7-01ee-4571-85fb-4003e6c410cc" key="ticketNumber" objectStore="Tickets_Store" target="currentTicketNumber">
			<os:default-value ><![CDATA[1]]></os:default-value>
		</os:retrieve>
		<choice doc:name="Handle Existing" doc:id="daf7d12e-faeb-463f-a7d6-f74a6a2321d8" >
			<when expression="#[(vars.currentTicketNumber == payload.ticketNumber) and !payload.ticketOverride]">
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  status: "failed",&#10;  ticketNumber: vars.currentTicketNumber as Number&#10;}]' doc:name="Set Failed Payload" doc:id="4f78bc53-e155-442c-9147-6801c45a409c" />
			</when>
			<otherwise >
				<os:store doc:name="Store Updated ticketNumber" doc:id="2a406a58-cf0d-434e-9f21-7b8fd1026f80" objectStore="Tickets_Store" key="ticketNumber">
					<os:value ><![CDATA[#[payload.ticketNumber]]]></os:value>
				</os:store>
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  status: "success",&#10;  ticketNumber: payload.ticketNumber&#10;}]' doc:name="Set Succes Payload" doc:id="36677f73-c7eb-446b-bdc5-1c36c62b7132" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="END POST /tickets" doc:id="d6cef5b6-e76b-45f4-81cd-9fd290d08198" message="END POST /tickets" />
    </flow>
</mule>
